<h2 id="title">Welcome to Ember</h2>

{{outlet}}

{{#each posts as |post|}}
  <div data-test-post>
    {{post.id}} - {{post.title}} - {{post.code}} - {{post.zipCodeId}}
  </div>
{{/each}}

<button data-test-cache-posts onclick={{action "cachePosts" posts}}>
  Cache posts
</button>
<div>
  Cached posts: {{postsCache.itemsCount}}
</div>